*, *::before, *::after{
	box-sizing: border-box;
}
img{
    display: block;
}
a{
    text-decoration: none;
}

body{
    background: #FFC37D;
    font-family: "Noto Sans TC",思源柔黑體,"Noto Sans CJK TC","Microsoft JhengHei",serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: $Primary-color;
}
@media (max-width: $media-s){
    body{
        font-size: 16px;
    }
}
