.competition{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.competition-ic{
    width: 375px;
    height: 375px;
    background-image:url("../images/main/award.png");
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center;
}
.competition-text{
    margin-left: 60px;
    line-height: 34px;
    h4{
        margin-bottom: 12px;
    }
    &>ul>li{
        margin-bottom: 32px;
    }
}
@media (max-width: $media-s){
    .competition{
        display: block;
        width: 335px;
        margin: 0 auto;
        h4{
            font-size: 32px;
        }
    }
    .competition-ic{
        width: 335px;
    }
    .competition-text{
        margin: 24px 0 60px;
        line-height: 160%;
        &>ul>li{
            margin-bottom: 24px;
        }
    }
}