header{
    height: 100vh;
    position: relative;
}
@media (max-width: $media-s){
    header{
        height: 120vh;
    }
}

.logo-text{
    width: 680px;
    height: 236.03px;
    position: fixed;
    background-image:url("../images/logo/logo_text.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
    z-index: 1;
    top: 44px;
    left: calc((100vw - 680px)/2);
}
@media (max-width: $media-l){
    .logo-text{
        width: 35vw;
        height: 12.14vw;
        top: 4vh;
        left: calc((100vw - 35vw)/2);
    }
}
@media (max-width: $media-m){
    .logo-text{
        width: 28vw;
        height: 9.7vw;
        left: calc((100vw - 28vw)/2);
    }
}
@media (max-width: $media-s){
    .logo-text{
        position: relative;
        width: 133px;
        height: 46px;
        background-size:133px;
        top: 8px;
        left: calc((100vw - 133px)/2);
    }
}
.logo{
    width: 253px;
    height: 189px;
    background-image:url("../images/logo/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
    margin: 37px auto;
}

.bg-road{
    width: 1175px;
    height: 135.5px;
    position: fixed;
    background-image:url("../images/main/road.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:100%;
    z-index: -4;
    bottom: 0px;
    left: calc((100vw - 1175px)/2);
}
@media (max-width: $media-l){
    .bg-road{
        width: 61vw;
        height: 7vw;
        left: calc((100vw - 61vw)/2);
    }
}
@media (max-width: $media-s){
    .bg-road{
        width: 349px;
        height: 40px;
        left: calc((100vw - 349px)/2);
    }
}


.bg-start{
    width: 1430px;
    height: 1080px;
    position: absolute;
    background-image:url("../images/main/start.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:100%;
    z-index: -4;
    bottom: 0px;
    left: calc((100vw - 1430px)/2);
}
@media (max-width: $media-l){
    .bg-start{
        width: 73vw;
        height: 55vw;
        left: calc((100vw - 73vw)/2);
    }
}
@media (max-width: $media-s){
    .bg-start{
        display: none;
    }
}

.char-f2e{
    width: 351px;
    height: 601px;
    position: fixed;
    background-image:url("../images/character/character_f2e.gif");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:100%;
    z-index: 1;
    bottom: 0px;
    left: calc((100vw - 1175px)/2 + 10px);
}

@media (max-width: $media-l){
    .char-f2e{
        width: 18vw;
        height: 30.8vw;
        left: calc((100vw - 56vw)/2);
    }
}
@media (max-width: $media-m){
    .char-f2e{
        width: 14vw;
        height: 23.97vw;
        left: calc((100vw - 50vw)/2);
    }
}
@media (max-width: $media-s){
    .char-f2e{
        width: 112.35px;
        height: 192.47px;
        left: 21px;
    }
}


.char-ui{
    width: 370px;
    height: 601px;
    position: fixed;
    background-image:url("../images/character/character_ui.gif");
    background-repeat: no-repeat;
    background-size:100%;
    background-position: bottom;
    z-index: 1;
    bottom: 0px;
    left: calc((100vw - 1140px)/2 + 371px);
}
@media (max-width: $media-l){
    .char-ui{
        width: 19vw;
        height: 30.86vw;
        left: calc((100vw - 19vw)/2);
    }
}
@media (max-width: $media-m){
    .char-ui{
        width: 15vw;
        height: 24.36vw;
        left: calc((100vw - 15vw)/2);
    }
}
@media (max-width: $media-s){
    .char-ui{
        width: 112.35px;
        height: 192.47px;
        left: 134px;
    }
}

.char-team{
    width: 351px;
    height: 527px;
    position: fixed;
    background-image:url("../images/character/character_team.gif");
    background-repeat: no-repeat;
    background-size:100%;
    background-position: bottom;
    z-index: 1;
    bottom: 0px;
    right: calc((100vw - 1140px)/2 + 10px);
}
@media (max-width: $media-l){
    .char-team{
        width: 18vw;
        height: 27vw;
        right: calc((100vw - 55vw)/2);
    }
}
@media (max-width: $media-m){
    .char-team{
        width: 14vw;
        height: 21vw;
        right: calc((100vw - 50vw)/2);
    }
}
@media (max-width: $media-s){
    .char-team{
        width: 112.35px;
        height: 168.83px;
        right: 18.73px;
    }
}

h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 40px;
    gap: 10px;
    background: #FF5136;
    border-radius: 100px;
    color: #ffffff;
    position: absolute;
    left: 803px;
    top: 268px;
}
@media (max-width: $media-l){
    h1{
        padding: 4px 16px;
        left: calc((100vw - 260px)/2);
        top: 13vw;
    }
}
@media (max-width: $media-m){
    h1{
        padding: 0 12px;
        top: calc(4vh + 120px);
        left: calc((100vw - 200px)/2);
    }
}
@media (max-width: $media-s){
    h1{
        width: 176px;
        height: 32px;
        left: calc((100vw - 176px)/2);
        top: 0;
        padding:0;
        position: relative;
    }
}

.ic-users{
    width: 22px;
    height: 22px;
    display: inline-block;
    transform: translateY(-80px);
    filter: drop-shadow(#fff -2px 82px);
}
.ready-users{
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
    li{
        margin-top: 34vh;
        overflow: hidden;
    }
    
}
@media (max-width: $media-l){
    .ready-users{
        li{
            margin-top: 16vw;
        }
    }
}
@media (max-width: $media-s){
    .ready-users{
        display: block;
        margin-top: 20px;
        margin-bottom: 35px;
        li{
            margin-top: 20px;
        }
    }
}
@media (max-width: $media-m){
    .ready-users{
        max-width:58vw;
    }
}