.container{
    max-width: 1440px;
    margin: 0 auto;
}
@media (max-width: $media-l){
    .container{
        width: 100vw;
    }
}

.btn-user{
    width: 80px;
    height: 80px;
    position: fixed;
    top: 30px;
    right: 20px;
    background-image:url("../images/btn/btn_user.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
    &:hover{
        background-image:url("../images/btn/btn_user_h.png");
    }
}
@media (max-width: $media-m){
    .btn-user{
        width: 4vw;
        height: 4vw;
        top: 1.5vw;
        right: 1vw;
    }
}
@media (max-width: $media-s){
    .btn-user{
        width: 40px;
        height: 40px;
        top: 12px;
        right: 8px;
    }
}
.btn-logo{
    width: 220px;
    height: 148px;
    // position: fixed;
    top: 30px;
    left: 40px;
    z-index: 1;
    background-image:url("../images/logo/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:95%;
}
@media (max-width: $media-m){
    .btn-logo{
        width: 12vw;
        height: 8vw;
        top: 1.5vw;
        left: 2vw;
    }
}
@media (max-width: $media-s){
    .btn-logo{
        display: none;
    }
}


.title{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    li{
        height: 153px; 
        h2{
            text-align: center;
            line-height: 120px;
        }  
        &:first-child{
            width: 98.57px;
            background-image:url("../images/bg/bg_talking_l.png");
            background-repeat: no-repeat;
            background-position: right 0px;
            background-size:80%;
        } 
        &:nth-child(2){
            background-image:url("../images/bg/bg_talking_c.png");
            background-repeat: no-repeat;
            background-position: center 0px;
            background-size: 100% 100%;
        } 
        &:last-child{
            width: 98.57px;
            background-image:url("../images/bg/bg_talking_r.png");
            background-repeat: no-repeat;
            background-position: left 0px;
            background-size:100% 100%;
        } 
    }
    
}
.page-2{
    opacity: 0;
}
.page-3{
    opacity: 0;
}
.page-4{
    opacity: 0;
}
.page-5{
    opacity: 0;
}
.page-6{
    opacity: 0;
}
.active{
    opacity: 1;
}


@media (max-width: $media-s){
    .title{
        display: block;
        li{
            height: 72px;
            h2{
                line-height: 60px;
            } 
            &:nth-child(2){
                background-size: 100% 96%;
                background-position: center 2px;
            } 
        }
    }
}


.fix-join{
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    z-index: 1;
    .btn-joinHand{
        width: 57px;
        height: 71px;
        background-image:url("../images/btn/btn_joinHand.gif");
    }
    .btn-join{
        width: 103px;
        height: 60px;
    }
}
.fix-join:hover{
    cursor: pointer;
}

.fix-join:hover .btn-join{
    background-image:url("../images/btn/btn_join_h.png");
}
@media (max-width: $media-m){
    .fix-join{
        .btn-joinHand{
            width: 3vw;
            height: 3.73vw;
        }
        .btn-join{
            width: 5vw;
            height: 2.9vw;
        }
    }
}