@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  background: #FFC37D;
  font-family: "Noto Sans TC",思源柔黑體,"Noto Sans CJK TC","Microsoft JhengHei",serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: #007FAB;
}

@media (max-width: 485px) {
  body {
    font-size: 16px;
  }
}

h1 {
  font-size: 32px;
  line-height: 125%;
}

@media (max-width: 1440px) {
  h1 {
    font-size: 24px;
  }
}

@media (max-width: 485px) {
  h1 {
    font-size: 20px;
  }
}

h2 {
  font-size: 60px;
  line-height: 125%;
}

@media (max-width: 1440px) {
  h2 {
    font-size: 44px;
  }
}

@media (max-width: 485px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-size: 44px;
  line-height: 125%;
}

@media (max-width: 1440px) {
  h3 {
    font-size: 34px;
  }
}

@media (max-width: 485px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 32px;
  line-height: 140%;
}

@media (max-width: 1440px) {
  h4 {
    font-size: 26px;
  }
}

@media (max-width: 485px) {
  h4 {
    font-size: 20px;
  }
}

h5, .highlight {
  font-size: 24px;
  line-height: 140%;
}

@media (max-width: 1440px) {
  h5, .highlight {
    font-size: 20px;
  }
}

@media (max-width: 485px) {
  h5, .highlight {
    font-size: 18px;
  }
}

.highlight-color {
  color: #FF5136;
}

.color-red {
  color: #FF5136;
}

.color-primary {
  color: #007FAB;
}

.color-secondary-dark {
  color: #A46039;
}

.tac {
  text-align: center;
}

.bg-primary {
  display: inline-block;
  background: #007FAB;
  color: #FFFFFF;
}

.p4-28 {
  padding: 4px 28px;
}

.bdrs-60 {
  border-radius: 60px;
}

.bdrs-40 {
  border-radius: 40px;
}

.display-s {
  display: none;
}

@media (max-width: 485px) {
  .display-s {
    display: block;
  }
}

@media (max-width: 485px) {
  .display-none-s {
    display: none;
  }
}

header {
  height: 100vh;
  position: relative;
}

@media (max-width: 485px) {
  header {
    height: 120vh;
  }
}

.logo-text {
  width: 680px;
  height: 236.03px;
  position: absolute;
  background-image: url("../images/logo/logo_text.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  z-index: 1;
  top: 44px;
  left: calc((100vw - 680px)/2);
}

@media (max-width: 1920px) {
  .logo-text {
    width: 35vw;
    height: 12.14vw;
    top: 4vh;
    left: calc((100vw - 35vw)/2);
  }
}

@media (max-width: 1440px) {
  .logo-text {
    width: 28vw;
    height: 9.7vw;
    left: calc((100vw - 28vw)/2);
  }
}

@media (max-width: 485px) {
  .logo-text {
    position: relative;
    width: 133px;
    height: 46px;
    background-size: 133px;
    top: 8px;
    left: calc((100vw - 133px)/2);
  }
}

.logo {
  width: 253px;
  height: 189px;
  background-image: url("../images/logo/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin: 37px auto;
}

.bg-road {
  width: 1175px;
  height: 135.5px;
  position: absolute;
  background-image: url("../images/main/road.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  z-index: -4;
  bottom: 0px;
  left: calc((100vw - 1175px)/2);
}

@media (max-width: 1920px) {
  .bg-road {
    width: 61vw;
    height: 7vw;
    left: calc((100vw - 61vw)/2);
  }
}

@media (max-width: 485px) {
  .bg-road {
    width: 349px;
    height: 40px;
    left: calc((100vw - 349px)/2);
  }
}

.bg-start {
  width: 1430px;
  height: 1080px;
  position: absolute;
  background-image: url("../images/main/start.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  z-index: -4;
  bottom: 0px;
  left: calc((100vw - 1430px)/2);
}

@media (max-width: 1920px) {
  .bg-start {
    width: 73vw;
    height: 55vw;
    left: calc((100vw - 73vw)/2);
  }
}

@media (max-width: 485px) {
  .bg-start {
    display: none;
  }
}

.char-f2e {
  width: 351px;
  height: 601px;
  position: absolute;
  background-image: url("../images/character/character_f2e.gif");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  z-index: -3;
  bottom: 0px;
  left: calc((100vw - 1175px)/2 + 10px);
}

@media (max-width: 1920px) {
  .char-f2e {
    width: 18vw;
    height: 30.8vw;
    left: calc((100vw - 56vw)/2);
  }
}

@media (max-width: 1440px) {
  .char-f2e {
    width: 14vw;
    height: 23.97vw;
    left: calc((100vw - 50vw)/2);
  }
}

@media (max-width: 485px) {
  .char-f2e {
    width: 112.35px;
    height: 192.47px;
    left: 21px;
  }
}

.char-ui {
  width: 370px;
  height: 601px;
  position: absolute;
  background-image: url("../images/character/character_ui.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  z-index: -3;
  bottom: 0px;
  left: calc((100vw - 1140px)/2 + 371px);
}

@media (max-width: 1920px) {
  .char-ui {
    width: 19vw;
    height: 30.86vw;
    left: calc((100vw - 19vw)/2);
  }
}

@media (max-width: 1440px) {
  .char-ui {
    width: 15vw;
    height: 24.36vw;
    left: calc((100vw - 15vw)/2);
  }
}

@media (max-width: 485px) {
  .char-ui {
    width: 112.35px;
    height: 192.47px;
    left: 134px;
  }
}

.char-team {
  width: 351px;
  height: 527px;
  position: absolute;
  background-image: url("../images/character/character_team.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  z-index: -3;
  bottom: 0px;
  right: calc((100vw - 1140px)/2 + 10px);
}

@media (max-width: 1920px) {
  .char-team {
    width: 18vw;
    height: 27vw;
    right: calc((100vw - 55vw)/2);
  }
}

@media (max-width: 1440px) {
  .char-team {
    width: 14vw;
    height: 21vw;
    right: calc((100vw - 50vw)/2);
  }
}

@media (max-width: 485px) {
  .char-team {
    width: 112.35px;
    height: 168.83px;
    right: 18.73px;
  }
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 40px;
  gap: 10px;
  background: #FF5136;
  border-radius: 100px;
  color: #ffffff;
  position: absolute;
  left: 803px;
  top: 268px;
}

@media (max-width: 1920px) {
  h1 {
    padding: 4px 16px;
    left: calc((100vw - 260px)/2);
    top: 13vw;
  }
}

@media (max-width: 1440px) {
  h1 {
    padding: 0 12px;
    top: calc(4vh + 120px);
    left: calc((100vw - 200px)/2);
  }
}

@media (max-width: 485px) {
  h1 {
    width: 176px;
    height: 32px;
    left: calc((100vw - 176px)/2);
    top: 0;
    padding: 0;
    position: relative;
  }
}

.ic-users {
  width: 22px;
  height: 22px;
  display: inline-block;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  -webkit-filter: drop-shadow(#fff -2px 82px);
          filter: drop-shadow(#fff -2px 82px);
}

.ready-users {
  max-width: 1180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ready-users li {
  margin-top: 34vh;
  overflow: hidden;
}

@media (max-width: 1920px) {
  .ready-users li {
    margin-top: 16vw;
  }
}

@media (max-width: 485px) {
  .ready-users {
    display: block;
    margin-top: 20px;
    margin-bottom: 35px;
  }
  .ready-users li {
    margin-top: 20px;
  }
}

@media (max-width: 1440px) {
  .ready-users {
    max-width: 58vw;
  }
}

footer {
  height: 90vh;
  position: relative;
}

@media (max-width: 485px) {
  footer {
    max-height: 880px;
  }
}

.ft-logo {
  width: 520px;
  height: 387.15px;
  margin: 124px auto 0;
  background-image: url("../images/logo/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

@media (max-width: 1440px) {
  .ft-logo {
    width: 27vw;
    height: 20vw;
    margin: 10vh auto 0;
  }
}

@media (max-width: 485px) {
  .ft-logo {
    width: 226px;
    height: 169px;
    margin-bottom: 40px;
  }
}

.join {
  margin-bottom: 100px;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  display: block;
}

@media (max-width: 485px) {
  .join {
    width: 120px;
  }
}

.btn-joinHand {
  width: 88.54px;
  height: 110.29px;
  background-image: url("../images/btn/btn_joinHand.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .btn-joinHand {
    width: 5vw;
    height: 6.22vw;
  }
}

@media (max-width: 485px) {
  .btn-joinHand {
    width: 46.49px;
    height: 57.9px;
  }
}

.btn-join {
  width: 160px;
  height: 93.2px;
  background-image: url("../images/btn/btn_join.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin: 0 auto;
  display: inline-block;
}

@media (max-width: 1440px) {
  .btn-join {
    width: 8vw;
    height: 4.8vw;
  }
}

@media (max-width: 485px) {
  .btn-join {
    width: 84px;
    height: 48.93px;
  }
}

.join:hover {
  cursor: pointer;
}

.join:hover .btn-joinHand {
  background-image: url("../images/btn/btn_joinHand.gif");
}

.join:hover .btn-join {
  background-image: url("../images/btn/btn_join_h.png");
}

.btn-user {
  width: 80px;
  height: 80px;
  position: fixed;
  top: 30px;
  right: 20px;
  background-image: url("../images/btn/btn_user.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

@media (max-width: 1440px) {
  .btn-user {
    width: 4vw;
    height: 4vw;
    top: 1.5vw;
    right: 1vw;
  }
}

@media (max-width: 485px) {
  .btn-user {
    width: 40px;
    height: 40px;
    top: 12px;
    right: 8px;
  }
}

.btn-logo {
  width: 220px;
  height: 148px;
  position: fixed;
  top: 30px;
  left: 40px;
  z-index: 1;
  background-image: url("../images/logo/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
}

@media (max-width: 1440px) {
  .btn-logo {
    width: 12vw;
    height: 8vw;
    top: 1.5vw;
    left: 2vw;
  }
}

@media (max-width: 485px) {
  .btn-logo {
    display: none;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 485px) {
  .container {
    width: 100vw;
  }
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.title li {
  height: 153px;
}

.title li h2 {
  text-align: center;
  line-height: 120px;
}

.title li:first-child {
  width: 98.57px;
  background-image: url("../images/bg/bg_talking_l.png");
  background-repeat: no-repeat;
  background-position: right 0px;
  background-size: 80%;
}

.title li:nth-child(2) {
  background-image: url("../images/bg/bg_talking_c.png");
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: 100% 100%;
}

.title li:last-child {
  width: 98.57px;
  background-image: url("../images/bg/bg_talking_r.png");
  background-repeat: no-repeat;
  background-position: left 0px;
  background-size: 100% 100%;
}

@media (max-width: 485px) {
  .title {
    display: block;
  }
  .title li {
    height: 72px;
  }
  .title li h2 {
    line-height: 60px;
  }
  .title li:nth-child(2) {
    background-size: 100% 96%;
    background-position: center 2px;
  }
}

.fix-join {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  z-index: 1;
}

.fix-join .btn-joinHand {
  width: 57px;
  height: 71px;
}

.fix-join .btn-join {
  width: 103px;
  height: 60px;
}

.fix-join:hover {
  cursor: pointer;
}

.fix-join:hover .btn-joinHand {
  background-image: url("../images/btn/btn_joinHand.gif");
}

.fix-join:hover .btn-join {
  background-image: url("../images/btn/btn_join_h.png");
}

@media (max-width: 1440px) {
  .fix-join .btn-joinHand {
    width: 3vw;
    height: 3.73vw;
  }
  .fix-join .btn-join {
    width: 5vw;
    height: 2.9vw;
  }
}

.sponsor {
  margin-top: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sponsor li {
  text-align: center;
}

.sponsor .sponsor-name {
  padding: 0 18px;
  display: inline-block;
  color: #A46039;
  border: 1px solid #A46039;
}

.sponsor-img {
  width: 315px;
  height: 315px;
  background-image: url("../images/btn/btn_sponsor.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.sponsor-img img {
  width: 80%;
  margin: 0 auto;
  padding-top: 24px;
}

@media (max-width: 485px) {
  .sponsor {
    display: block;
  }
  .sponsor li {
    margin-bottom: 44px;
  }
  .sponsor-img {
    width: 252px;
    height: 252px;
    margin: 0 auto 16px;
  }
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 68px;
}

.question li {
  margin-right: 20px;
}

.question li:last-child {
  margin-right: 0;
}

.question li:first-child .question-img {
  background-image: url("../images/main/question_1.png");
}

.question li:nth-child(2) .question-img {
  background-image: url("../images/main/question_2.png");
}

.question li:last-child .question-img {
  background-image: url("../images/main/question_3.png");
}

.question .question-img {
  height: 412px;
  width: 466.67px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

@media (max-width: 485px) {
  .question {
    display: block;
    margin-top: 0;
  }
  .question li {
    display: inline-block;
    margin: 0 auto;
  }
  .question li:first-child .question-img {
    background-image: url("../images/main/question_1_m.png");
  }
  .question li:last-child .question-img {
    background-image: url("../images/main/question_3_m.png");
  }
  .question .question-img {
    height: 262px;
    width: 335px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}

.character {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 64px;
}

.character .joinHand {
  height: 71px;
}

.character .btn-joinHand {
  background-image: url("../images/btn/btn_joinHand.gif");
  width: 57px;
  height: 71px;
  display: none;
}

.character .btn-join {
  width: 103px;
  height: 60px;
}

.character li:hover .btn-joinHand {
  display: block;
}

.character li:hover .btn-join {
  background-image: url("../images/btn/btn_join_h.png");
}

@media (max-width: 485px) {
  .character {
    display: block;
  }
  .character li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .character li:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (max-width: 485px) {
  .character-ic {
    width: 157px;
    height: 270px;
  }
  .character-btn {
    width: 180px;
  }
  .character-f2e {
    background-image: url("../images/character/character_f2e.gif");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
  }
  .character-ui {
    background-image: url("../images/character/character_ui.gif");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
  }
  .character-team {
    background-image: url("../images/character/character_team.gif");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
  }
}

.competition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.competition-ic {
  width: 375px;
  height: 375px;
  background-image: url("../images/main/award.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
/*# sourceMappingURL=all.css.map */